* {
  box-sizing: border-box;
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header span {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1rem; /* 18px/16px */
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 1px rgb(20, 52, 107, 0.8);
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

.img-thumbnail {
  width: 320px;
  object-fit: cover;
  box-shadow: 0px 1px 25px #aaa;
}

div {
  margin-bottom: 5%;
}

h1 {
  color: rgb(3, 34, 88);
}

h2 {
  color: rgb(20, 52, 107);
}

/* Main classes */

.title {
  font-size: 5rem; /* 80px/16px  */
  color: rgb(3, 34, 88);
  font-weight: normal;
  line-height: 1.2;
  vertical-align: baseline;
  text-shadow: 0 1px 1px rgba(156, 154, 154, 0.8);
}

.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  background-color: #ededed;
  margin-bottom: 7%;
  box-shadow: 0 2px 15px #aaa;

  /* 
  1 layer: Blue gradient filter over header photo,
  2 layer: Background img. 
  Extra, make header fade into main content: "linnear-gradient(0deg, #fff, transparent)".
  */
  background: linear-gradient(to bottom right, #73b8b1, transparent 60%),
    #0a327c url("img/road_to_success.jpeg") no-repeat center;
  background-size: cover;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  position: relative;
  border-bottom: 5px solid rgb(3, 34, 88);
}

.secondary-content {
  display: flex;
  position: relative;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.arrow {
  width: 30px;
  padding: 1px;
  margin-top: 1.5%;
}

/* Layout Styles */

.primary-content,
.secondary-content {
  margin: auto;
  max-width: 960px;
}

/* Image container size */

.img-thumbnail {
  width: 374px;
  height: 230px;
  border-radius: 7%;
}

/* pseudo classes - such as links */

a:link {
  color: rgb(4, 90, 250);
  text-decoration: none;
  font-weight: normal;
}

#read-more {
  font-weight: bold;
  font-size: 15px;
}

a:visited {
  color: rgba(3, 34, 88);
}

a:hover {
  color: rgba(145, 148, 153, 0.4);
}

a:active {
  color: rgb(5, 36, 92);
}

/* Floated Columns */

.Experience,
.Portfolio {
  flex: 50%;
  padding: 2%;
  margin: 2%;
  text-align: left;
}

.Experience {
  float: left;
}

.Portfolio {
  float: right;
}

/* Float Clearfix */

.group:after {
  content: "";
  display: table;
  clear: both;
}
